openapi: 3.2.0
info:
  title: CleanCloud Business and Reporting API
  description: The CleanCloud API provides programmatic access to the CleanCloud point-of-sale and business-management platform for dry cleaners, laundromats, laundry services, and shoe repair businesses.
  version: '1.0'
  contact:
    name: CleanCloud
    url: https://cleancloudapp.com
  x-authentication:
    scheme: api_token
    location: request body (JSON field `api_token`)
    note: Every endpoint requires the api_token field. It is not sent as an Authorization header or query parameter.
servers:
- url: https://cleancloudapp.com/api
  description: CleanCloud production API
tags:
- name: Business and Reporting
  description: Business accounts, reporting, photos, groups, and referrals.
paths:
  /getBusinessAccounts:
    post:
      operationId: getBusinessAccounts
      tags:
      - Business and Reporting
      summary: List business accounts
      description: Retrieves business (commercial) account configurations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthBody'
      responses:
        '200':
          description: A list of business accounts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  BusinessAccounts:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /summaryReport:
    post:
      operationId: summaryReport
      tags:
      - Business and Reporting
      summary: Get summary report
      description: Returns daily summary metrics for a date range.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AuthBody'
              - type: object
                properties:
                  dateFrom:
                    type: string
                  dateTo:
                    type: string
      responses:
        '200':
          description: Summary metrics.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /getPhotos:
    post:
      operationId: getPhotos
      tags:
      - Business and Reporting
      summary: Get order photos
      description: Retrieves photos associated with an order.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AuthBody'
              - type: object
                required:
                - orderID
                properties:
                  orderID:
                    type: string
      responses:
        '200':
          description: A list of photo URLs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Photos:
                    type: array
                    items:
                      type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  /addToCustomerGroup:
    post:
      operationId: addToCustomerGroup
      tags:
      - Business and Reporting
      summary: Add customer to group
      description: Assigns a customer to a customer group.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AuthBody'
              - type: object
                required:
                - customerID
                - groupID
                properties:
                  customerID:
                    type: string
                  groupID:
                    type: string
      responses:
        '200':
          description: Result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /getReferral:
    post:
      operationId: getReferral
      tags:
      - Business and Reporting
      summary: Get referral code
      description: Retrieves a customer's unique referral code and gift details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AuthBody'
              - type: object
                required:
                - customerID
                properties:
                  customerID:
                    type: string
      responses:
        '200':
          description: Referral details.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid api_token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        Error:
          type: string
        Success:
          type: string
    SuccessResponse:
      type: object
      properties:
        Success:
          type: string
          description: Typically "True" on success.
    AuthBody:
      type: object
      required:
      - api_token
      properties:
        api_token:
          type: string
          description: Per-account API token from Settings > Admin > Pickup and Delivery > API. Required on every request.
