openapi: 3.2.0
info:
  title: CleanCloud Orders API
  description: The CleanCloud API provides programmatic access to the CleanCloud point-of-sale and business-management platform for dry cleaners, laundromats, laundry services, and shoe repair businesses.
  version: '1.0'
  contact:
    name: CleanCloud
    url: https://cleancloudapp.com
  x-authentication:
    scheme: api_token
    location: request body (JSON field `api_token`)
    note: Every endpoint requires the api_token field. It is not sent as an Authorization header or query parameter.
servers:
- url: https://cleancloudapp.com/api
  description: CleanCloud production API
tags:
- name: Orders
  description: Orders and the garments within them.
paths:
  /addOrder:
    post:
      operationId: addOrder
      tags:
      - Orders
      summary: Create an order
      description: Creates a new order for a customer with a list of products and a final total.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AuthBody'
              - type: object
                required:
                - customerID
                - finalTotal
                - products
                properties:
                  customerID:
                    type: string
                  finalTotal:
                    type: number
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderProduct'
      responses:
        '200':
          description: The created order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /updateOrder:
    post:
      operationId: updateOrder
      tags:
      - Orders
      summary: Update an order
      description: Updates an order's details, status, or payment state.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AuthBody'
              - type: object
                required:
                - orderID
                properties:
                  orderID:
                    type: string
                  orderStatus:
                    type: string
                  paid:
                    type: boolean
      responses:
        '200':
          description: The updated order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /deleteOrder:
    post:
      operationId: deleteOrder
      tags:
      - Orders
      summary: Delete an order
      description: Deletes an order, optionally validating against its pickup time.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AuthBody'
              - type: object
                required:
                - orderID
                properties:
                  orderID:
                    type: string
                  checkPickupTime:
                    type: boolean
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /getOrders:
    post:
      operationId: getOrders
      tags:
      - Orders
      summary: List orders
      description: Retrieves orders filtered by customer, route, date, or status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AuthBody'
              - type: object
                properties:
                  customerID:
                    type: string
                  orderStatus:
                    type: string
                  dateFrom:
                    type: string
                  dateTo:
                    type: string
      responses:
        '200':
          description: A list of orders.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /getGarment:
    post:
      operationId: getGarment
      tags:
      - Orders
      summary: Get a garment
      description: Fetches a single garment by its barcode.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AuthBody'
              - type: object
                required:
                - barcode
                properties:
                  barcode:
                    type: string
      responses:
        '200':
          description: The requested garment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Garment'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /getGarments:
    post:
      operationId: getGarments
      tags:
      - Orders
      summary: List garments in an order
      description: Retrieves all garments belonging to an order.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AuthBody'
              - type: object
                required:
                - orderID
                properties:
                  orderID:
                    type: string
      responses:
        '200':
          description: A list of garments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Garments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Garment'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /updateGarment:
    post:
      operationId: updateGarment
      tags:
      - Orders
      summary: Update a garment
      description: Updates a garment's color, notes, location, or status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AuthBody'
              - type: object
                required:
                - barcode
                properties:
                  barcode:
                    type: string
                  color:
                    type: string
                  notes:
                    type: string
                  location:
                    type: string
                  status:
                    type: string
      responses:
        '200':
          description: The updated garment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Garment'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    OrderProduct:
      type: object
      properties:
        productID:
          type: string
        quantity:
          type: integer
        price:
          type: number
    OrderResponse:
      type: object
      properties:
        Success:
          type: string
        orderID:
          type: string
    Order:
      type: object
      properties:
        id:
          type: string
        customerID:
          type: string
        finalTotal:
          type: number
        orderStatus:
          type: string
        paid:
          type: boolean
        products:
          type: array
          items:
            $ref: '#/components/schemas/OrderProduct'
    Garment:
      type: object
      properties:
        barcode:
          type: string
        orderID:
          type: string
        color:
          type: string
        notes:
          type: string
        location:
          type: string
        status:
          type: string
    SuccessResponse:
      type: object
      properties:
        Success:
          type: string
          description: Typically "True" on success.
    AuthBody:
      type: object
      required:
      - api_token
      properties:
        api_token:
          type: string
          description: Per-account API token from Settings > Admin > Pickup and Delivery > API. Required on every request.
    Error:
      type: object
      properties:
        Error:
          type: string
        Success:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid api_token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
